<?xml version='1.0' encoding='utf-8'?>
<robot name="gen3_lite_gen3_lite_2f">
  
  <link name="gripper_base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="4.03E-06 1.08E-05 0.041397" />
      <mass value="0.1395" />
      <inertia ixx="0.00011614" ixy="1E-08" ixz="4E-08" iyy="0.00010327" iyz="0" izz="9.707E-05" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/gripper_base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.803 0.824 0.820 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/gripper_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="right_finger_prox_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.020257 0.0063483 6.991e-05" />
      <mass value="0.018385" />
      <inertia ixx="2.29e-06" ixy="1.43e-06" ixz="0" iyy="4.56e-06" iyz="0" izz="4.77e-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/right_finger_prox_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.803 0.824 0.820 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/right_finger_prox_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_finger_bottom_joint" type="revolute">
    <origin rpy="0 1.5708 0" xyz="0 -0.030501 0.070003" />
    <parent link="gripper_base_link" />
    <child link="right_finger_prox_link" />
    <axis xyz="0 0 1" />
    <limit effort="1000" lower="-0.09" upper="0.96" velocity="0.6" />
  </joint>
  <link name="right_finger_dist_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.018488 0.0011091 0" />
      <mass value="0.010748" />
      <inertia ixx="6.3e-07" ixy="3.2e-07" ixz="0" iyy="1.83e-06" iyz="0" izz="1.61e-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/right_finger_dist_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0.055 0.525 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/right_finger_dist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_finger_tip_joint" type="revolute">
    <origin rpy="0 0 0" xyz="-0.045636 0.020423 0" />
    <parent link="right_finger_prox_link" />
    <child link="right_finger_dist_link" />
    <axis xyz="0 0 1" />
    <limit effort="1000" lower="-1.03" upper="0.21" velocity="1000" />
    
    </joint>
  <link name="left_finger_prox_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.020257 -0.0063483 6.99e-05" />
      <mass value="0.018385" />
      <inertia ixx="2.29e-06" ixy="-1.43e-06" ixz="0" iyy="4.56e-06" iyz="0" izz="4.77e-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/left_finger_prox_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.803 0.824 0.820 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/left_finger_prox_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_finger_bottom_joint" type="revolute">
    <origin rpy="0 1.5708 0" xyz="0 0.0305 0.070003" />
    <parent link="gripper_base_link" />
    <child link="left_finger_prox_link" />
    <axis xyz="0 0 1" />
    <limit effort="1000" lower="-0.96" upper="0.09" velocity="1000" />
    <mimic joint="right_finger_bottom_joint" multiplier="-1.0" offset="0.0" />
  </joint>
  <link name="left_finger_dist_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.018488 -0.0011091 -0" />
      <mass value="0.010748" />
      <inertia ixx="6.3e-07" ixy="-3.2e-07" ixz="0" iyy="1.83e-06" iyz="0" izz="1.61e-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/left_finger_dist_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0.055 0.525 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="/home/james/workspace/genesis_pickaplace/kortex_description/grippers/gen3_lite_2f/meshes/left_finger_dist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_finger_tip_joint" type="revolute">
    <origin rpy="0 0 0" xyz="-0.045636 -0.020423 6.9901E-05" />
    <parent link="left_finger_prox_link" />
    <child link="left_finger_dist_link" />
    <axis xyz="0 0 -1" />
    <limit effort="1000" lower="-1.03" upper="0.21" velocity="1000" />
    
    </joint>
</robot>